<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>737549588998-3acvql916749u29bdn91tvptodsm1rm1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.737549588998-3acvql916749u29bdn91tvptodsm1rm1</string>
	<key>API_KEY</key>
	<string>AIzaSyDqnUbaFJEHuT2N7ktPvz9pe6UNsr0WGWs</string>
	<key>GCM_SENDER_ID</key>
	<string>737549588998</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>BroadwaterDevs.RecipeOS</string>
	<key>PROJECT_ID</key>
	<string>broadwaterdevs-recipeos</string>
	<key>STORAGE_BUCKET</key>
	<string>broadwaterdevs-recipeos.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:737549588998:ios:24572cdd61a84600908187</string>
</dict>
</plist>